  :root{
    background-color: rgb(214, 248, 237);
  }
  .app {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: left;
  }
  
  h1 {
    margin: 0; 
  }
  
  h4 {
    margin: 0; 
    cursor: pointer;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
  }
  
  .clote-list {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

  }
  .clote {
    border: 2px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(212, 219, 219);
    transition: box-shadow 0.3s;
  }
  
  .clote:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .clote img {
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  button {
  margin: 5px;
  padding: 7px 10px;
  cursor: pointer;
}

.liked {
  color: red;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 80%;
  overflow-y: auto; 
  background: white;
  border: 3px solid #ccc;
  padding: 20px;
  z-index: 1000; 
}
